.OrderElement{
    padding: 40px;
    margin: 10px 0 ;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.Id{
    position: absolute;
    top: 40px;
    right: 20px;
}


.OrderTotal{
    text-align: right;
}